{% extends 'layouts/auth.base.html' %}

{% block header %}
    <title>ورود</title>
{% endblock %}


{% block content_title %}خوش آمدید 👋{% endblock %}

{% block content_message %}سامانه -{% endblock %}

{% block content %}
    <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">نام کاربری:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">رمز عبور:</label>
            {{ form.password }}
            <div class="pt-2">
                <a href="{% url 'password_reset' %}">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">ورود</button>
             {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="text-danger mt-2 small">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </form>
{% endblock %}