{% extends 'layouts/auth.base.html' %}

{% block header %}
    <title>فراموشی رمز عبور</title>
{% endblock %}


{% block content_title %}فراموشی رمز عبور{% endblock %}

{% block content_message %}برای بازیابی رمز عبور، ایمیل خود را وارد کنید.{% endblock %}

{% block content %}
    <form id="formAuthentication" class="mb-3" action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">ایمیل:</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">دریافت لینک بازیابی</button>
            <a href="{% url 'login' %}" class="btn btn-outline-primary w-100 mt-2">بازگشت</a>
            {% if form.errors %}
                <p class="text text-danger text-sm text-center">{{ form.non_field_errors }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}