{% extends 'layouts/auth.base.html' %}

{% block header %}
    <title>لینک فراموشی رمز عبور ارسال شد.</title>
    <meta name="description" content=""/>
{% endblock %}


{% block content_title %}لینک بازیابی رمز عبور ارسال شد.{% endblock %}

{% block content_message %}
    اگر ایمیلی که وارد کرده‌اید وجود داشته باشد، دستورالعمل‌های تنظیم رمز عبور را برای شما ایمیل کرده‌ایم. (لطفاً پوشه هرزنامه خود را بررسی کنید.)
{% endblock %}

{% block content %}
    <div class="mb-3">
        <a href="/" class="btn btn-primary d-grid w-100" type="submit">بازگشت به صفحه نخست</a>
        {% if form.errors %}
            <p class="text text-danger text-sm text-center">{{ form.non_field_errors }}</p>
        {% endif %}
    </div>
{% endblock %}