{% extends 'layouts/auth.base.html' %}

{% block header %}بازنشانی رمز عبور{% endblock %}

{% block content_title %}بازنشانی رمز عبور{% endblock %}

{% block content_message %}
    {% if validlink %}
        لطفا رمز عبور جدیدی وارد کنید که شامل اعداد، حروف کوچک، حروف بزرگ و کاراکترهای خاص باشد.
    {% endif %}
{% endblock %}

{% block content %}

    {% if validlink %}
        <p class="mb-4 text-center">برای بازیابی رمز عبور، ایمیل خود را وارد کنید.</p>
        <form id="formAuthentication" class="mb-3" action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">رمز عبور جدید:</label>
                {{ form.new_password1 }}
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">تکرار رمز عبور جدید:</label>
                {{ form.new_password2 }}
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">ذخیره رمز عبور جدید</button>
                {% if form.errors %}
                    <p class="text text-danger text-sm text-center">{{ form.non_field_errors }}</p>
                {% endif %}
            </div>
        </form>
    {% else %}
        <p>
            لینک بازنشانی رمز عبور معتبر نیست. ممکن است از قبل این لینک استفاده شده باشد، مجددا به <a href="{% url 'password_reset' %}">فراموشی رمز عبور</a> بروید.
        </p>
    {% endif %}
{% endblock %}