{% extends 'layouts/dashboard.base.html' %}

{% block content %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> دسترسی ها / </span>نقش ها</h4>
    <div class="row g-4">
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card h-100">
                <div class="row h-100">
                    <div class="col-sm-5">
                        <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
                            <img src="https://demos.themeselection.com/sneat-bootstrap-html-laravel-admin-template/demo/assets/img/illustrations/sitting-girl-with-laptop-light.png" class="img-fluid" alt="Image" data-app-light-img="illustrations/sitting-girl-with-laptop-light.png"
                                 data-app-dark-img="illustrations/sitting-girl-with-laptop-dark.png" width="120">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body text-sm-end text-center ps-sm-0">
                            <button data-bs-target="#addRoleModal" data-bs-toggle="modal" class="btn btn-primary mb-3 text-nowrap add-new-role">ایجاد نقش جدید</button>
                            <p class="mb-0 text-center">یک گروه دسترسی ایجاد کنید و به چندین کاربر اختصاص دهید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for obj in object_list %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 p-4 d-flex justify-content-between">
                    <div class="row p-4">
                        <div class="col-sm-5 d-flex align-items-start flex-column bd-highligh justify-content-around">
                            <h4 class="">{{ obj.name }}</h4>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><small>ویرایش نقش</small></a>
                        </div>
                        <div class="col-sm-7 d-flex align-items-start flex-column bd-highligh justify-content-around">
                            <h6 class="fw-normal">کل دسترسی ها: {{ obj.permissions.count }}</h6>
                            <h6 class="fw-normal">کل کاربران: {{ obj.user_set.count }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}