{% extends 'layouts/dashboard.base.html' %}

{% block content %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> دسترسی ها /</span>لیست دسترسی ها</h4>
    <div class="card px-4">
        <h5 class="card-header">لیست دسترسی ها</h5>
        <div class="table-responsive text-nowrap pb-4">
            <table class="table table-bordered text-center">
                {% include 'pagination.html' %}
                <thead>
                <tr>
                    <th>#id</th>
                    <th>عنوان</th>
                    <th>Slug</th>
                    <th>نوع</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.codename }}</td>
                        <td>{{ obj.content_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}