{% extends 'layouts/dashboard.base.html' %}

{% block content %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> دسته بندی ها / </span>دسته بندی ها</h4>
    <div class="card px-4">
        <h5 class="card-header">لیست دسته بندی ها</h5>
        <div class="table-responsive text-nowrap pb-4">
            <table class="table table-bordered text-center">
                {% include 'pagination.html' %}
                <thead>
                <tr>
                    <th>#id</th>
                    <th>عنوان</th>
                    <th>Slug</th>
                    <th>دسته مادر</th>
                    <th>نوشته ها</th>
                    <th>تاریخ ایجاد</th>
                    <th>ویرایش</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.slug }}</td>
                        <td>{{ obj.parent.title }}</td>
                        <td>{{ obj.posts.count }}</td>
                        <td>{{ obj.jcreated_at }}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}